body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: black;
	line-height: 135%;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #ffffff;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
	background-size: 100px 7px;
	position: absolute;
	width: 100%;
}
body::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(160deg , transparent 50%, #f38821);
	z-index: -1;
}
a:link {
	color: #336699;
}
a:visited {
	color: #dd4411;
}
a:active {
	color: #003366;
}

.page {
	width: 800px;
	background-color: white;
	display: flex;
	flex-direction: column;
	height: 100%;
	/* border-right: 2px solid black; */
	margin: 0 auto;
	box-shadow: 0 0 15px 2px #00000022;
}

header {
	/* flex: 0 0; */
}
.headerWrapper {
	/* display: flex; */
}

header .logo {
	width: 130px;
	background-color: #cccc99;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

header nav {
	/* background-color: #336666; */
	/* flex-grow: 1; */
	display: flex;
	justify-content: space-around;
}

header .banner {
	text-align: center;
	font-size: 300px;
	font-family: "HelveticaNeue-CondensedBold";
	white-space: nowrap;
	overflow: hidden;
	background-color: #336666;
	margin-bottom: 20px;
	position: relative;
	line-height: 152px;
}
header .banner a:link,
header .banner a:hover,
header .banner a:active,
header .banner a:visited {
	color: white;
	text-decoration: none;
}

header .banner .title {
	text-shadow: 3px 0px black;
}
header .banner .subtitle {
	position: absolute;
	right: 0.8ex;
	bottom: 0.8ex;
	font-size: 30px;
	line-height: 30px;
	color: burlywood;
	/* text-shadow: -2px -2px 0px white, 2px -2px 0px white, 2px 2px 0px white, -2px 2px 0px white; */
	color: black;
	background-color: white;
	padding: 0 0.25ex;
}

header .tabs {
	margin: 0;
	padding: 0;
	/* text-align: center; */
	/* display: block; */
	position: relative;
	/* margin-right: auto; */
	/* margin-left: auto; */
	/* width: 90px; */
	/* white-space: nowrap; */
	letter-spacing: 0.05ex;
}

header .tabs li {
	display: inline-block;
	margin: 0 0.5ex;
	padding: 0 16px;
	/* border: 1px solid black; */
	/* border-bottom-color: transparent; */
	background-color: #f38821;
	/* border-top-left-radius: 0.5em; */
	/* border-top-right-radius: 0.5em; */
	/* box-shadow: 3px 3px 5px black; */
	line-height: 2em;
	border-radius: 5px;
	box-shadow: 3px 3px black;
}

header .tabs .title {
	/* position: absolute; */
	/* font-size: 300px; */
	/* line-height: 152px; */
	/* overflow: hidden; */
	right: 100%;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 80%;
	line-height: 32px;
	color: #666;
}
header .tabs li.active {
	background-color: white;
}

header .tabs li a:link,
header .tabs li a:visited {
	color: black;
	text-decoration: none;
}

/* Slant
 * This is a superficial stylistic declaration and therefore doesn't deserve a classname of its own.
 * Instead, we'll call-out every selector that we, the style manager(s), want to use this style.
 */
header .banner .subtitle,
header .tabs li {
	transform: skewX(-16deg);
}


article {
	/* margin-left: 130px; */
	padding: 2em;
	/* background-color: white; */
	flex: 1 1 100%;
	overflow: auto;
	/* width: 630px; */
	/* margin: 0 auto; */
	/* margin-bottom: 5em; */
}

h1 {
	color: #336666;
	text-align: center;
	font-size: 250%;
	font-weight: 300;
	margin-top: 0;
}

h1 img {
	vertical-align: middle;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0 solid transparent;
	border-top: solid 1px #336666;
}

footer {
	background-color: #003333;
	color: white;
	padding: 10px 0 10px 0;
	/* width: 100%; */
	/* position: fixed; */
	/* bottom: 0; */
	/* right: 0; */
	/* left: 0; */
	text-align: center;
	/* margin-left: 130px; */
}

footer a:link,
footer a:hover,
footer a:active,
footer a:visited {
	color: white;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer ul li {
	display: inline-block;
	margin: 0 1ex;
}
